
.slide{
    height: 60vh;
    background-color: lightblue;
}
.timer{
    height: 40vh;
    background-color: lightgreen;
}
.tracks{
    height: 100vh;
    background-color: lightcoral;
}
.sponsors{
    height: 100vh;
    background-color: lightgoldenrodyellow;
}
.rocket{
    position: fixed;
    bottom: 4vh;
    left: 3vh;
    transition: 5s;
    img{
        height: 10vh;
        transition: 5s;
    }
    #fire{
        display: none;
        transition: 5s;
    }
}
.rocket :hover{
    transform: translateY(-100vh);
    transition: all 3s ease;
    cursor: pointer;
    #fire{
        display: inline;
        transition: 3s;
    }
    #nofire{
        display: none;
        transition: 3s;
    }
    
}
.rocketlaunch{
    position: fixed;
    bottom: 1vh;
    left: 2vh;
    font-size: .6rem;
    color: grey;
}

.trackheader{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    
}

.track1{
    display: flex;
    flex-direction: row;
    margin: 50px 0;


}
.trackdesc {

    display: flex;
    margin-top: 40px;
    margin-left: 35%;
    width: 70%;
    flex-direction: column;


  
}

.track1image{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 30px;
    margin-left: 15%;
}

.trackheading1{
    font-size: 20px;
    margin-left: 33%;
    color: white;
    margin-left: 60%;
}

.trackdesc{
    
    font-size: 1rem;
    margin-bottom: 10px;
}








.track2{
    display: flex;
    flex-direction: row;
    margin: 50px 0;


}

.track2image{
    float: left;
    left: 100px;
    margin-left: 30%;
    
    

}

.trackheading2{
    font-size: 20px;
    color: white;
    margin-left: 40%;
}


.trackdesc2 {

    display: flex;
    margin-top: 40px;
    margin-right: 200px;
    width: 63%;
    float: right;
    flex-direction: column;

}